:root {
  --clr-white: #ebfffc;
  --clr-dark: #222;
  --clr-light-blue: #C4DDFE;
  --clr-dark-blue: #2A6FEA;
  --clr-light-violet: #825B97;
  --clr-dark-violet: #431C52;
  --clr-light-green: #388688;
  --clr-dark-green: #0F496E; 
  --clr-error: #6F0119;
}    

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem; 
}

body{
  background-image: linear-gradient(0deg, #121212, #546E7A);
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}